body {
  background-color: rgba(0,0,0,0.9);
  color: white;
}

#content-card {
  display: inline-block;
  padding: 1em;

}

button {
  color: black;
  background-color: red;
  border-style: none
}

input {
  color: black;
}

input[type="submit"] {
  color: black;
  background-color: red;
  border-style: none;
}

#file {
  background-color: none;
  color: white;
}

.navbar-default {
  background-color: rgba(0,0,0,0.5);
  border-style: none;
}

h1, h2, h3 {
  color: red;
}

