.edit-button {
  margin-left: 35px !important;
}

.edit-form {
  display: flex;
  flex-flow: row wrap;
  justify-content:  center;
}

.edit-headertxt {
  text-align: center;

}

.edit-input {
  width: 62.5% !important;
}

label {
  margin-left: 10px !important;
  }

.edit-content {
  float: right;
  padding-left: 10px;
  padding-top: 5px;
}

// .edit-div {
//   padding-right: 10px;
// }
