.upload-button {
  margin-left: 25px !important;
}

.upload-form {
  display: flex;
  flex-flow: row wrap;
  justify-content:  center;
  left: -1% !important;
}

.upload-headertxt {
  text-align: center;
}

.upload-input {
  width: 70% !important;

}

label {
  margin-left: 10px !important;
  }

.upload-content {
  float: right;
  padding-left: 10px;
  padding-top: 5px;
}
