// .upload-button {
//   display: flex;
//   justify-content: center;
// }

.upload-form {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.content-column {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
